.shota:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}
.haber{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /*background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;*/
}
.sobrepuesto{
    position: relative;
    top: 500px;
}
.fondo{
    background-image:radial-gradient(circle at left,rgba(51, 49, 49,0.4) 30%,rgba(21, 14, 14, 0.4) 70%),  url(../img/fullness-principal.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}
.sobresombra{
    box-shadow:  3px 3px 10px  rgba(0,0,0,0.10); 
}
.sobresombra:hover{
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
    /*background-color: #f2d644;*/
}
.efeito{
    color: black;
}
.efeito:hover{
    color: #0d579f;
}
.espacio { 
    width: 100%; 
    margin-bottom: 8px; 
    background: rgba(254,254,254,0.7);
    
    padding: 8px; 
    font-size: 13px;
    color: #000;
    
    border-radius: 4px;
}
.espacio:focus {
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.4); 
}
.trans{
    background-color: rgba(0,0,0,0.30);
}
.altura{
    height: 55vh;
}
.altito{
    height: 30vh;
}
.logofondo{
    background-image:  url(../img/logofondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}
.dos{
    background-image:  url(../img/grupo.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}
.info{
    position: absolute;
    bottom: 30%;
}
.img1{
    background-image:radial-gradient(circle at left,rgba(255, 255, 255, 1) 30%,rgba(255, 255, 255, 0.1) 70%),  url(../img/comuni.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}
.branding{
    background-image:radial-gradient(circle at left,rgba(255, 255, 255, 1) 30%,rgba(255, 255, 255, 0.1) 70%),  url(../img/branding.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}
.reuniones{
    background-image:radial-gradient(circle at left,rgba(255, 255, 255, 1) 30%,rgba(255, 255, 255, 0.1) 70%),  url(../img/reuniones.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}

.textura{
    background-image: url(../img/nuevo.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;  
}
.textura2{
    background-image: url(../img/nuevo2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    animation: fondoso 70s ease;   
}
.textura3{
    background-image: url(../img/nuevo2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;   
}
@keyframes fondoso{
    from{
        transform: scale(1) rotate(0deg);
    }
    to{
        transform: scale(1.5) rotate(0.1deg);     
    }
} 
@keyframes wii{
    from{
        transform:scale(1)
    }
    to{
        transform:scale(1.5)
    }
}
.scroll{
    overflow:scroll;
    overflow-x: hidden;
    height: 200px;
    
}
.centro{
    animation:wii 80s;
}
.ancho{
    width: 100%;
}
.sobrepuesto{
    position: relative;
    top:-60px;
    z-index: 25;
}
.sombra{
    box-shadow: 10px 10px 15px rgba(0,0,0,0.30);
}
.fondo2{
    background-image:radial-gradient(circle at left,rgb(255, 247, 0, 0.5) 30%,rgba(253, 203, 0, 0.5) 70%),  url(../img/comuni.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}


/* MOSAICOS */
.comunicacion{
    background-image:  radial-gradient(circle at left,rgba(0, 0, 0, 0.2) 0%,rgba(0, 0, 0, 0.2) 100%),  url(../img/fullness-comunicacion.webp);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
/*izq*/
.mosaicocomunicacion {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0) 100%),  url(../img/comunicacion.webp);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
.mosaicocomunicacion:hover {
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20);   
}
.mosaicocomunicacionmovil{
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0) 100%),  url(../img/comunicacion.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20);

}

/* derecha */
.liderazgo{
    background-image: radial-gradient(circle at left,rgba(0, 0, 0, 0.2) 0%,rgba(0, 0, 0, 0.2) 100%), url(../img/liderazgo.webp);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.mosaicoliderazgo {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 30%),  url(../img/liderazgo-mosaico.webp);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}
.mosaicoliderazgo:hover {
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
}
.mosaicoliderazgomovil{
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0) 100%),  url(../img/liderazgo-mosaico-inv.webp) ;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
}

/*izq*/
.trabajo{
    background-image: radial-gradient(circle at left,rgba(0, 0, 0, 0.2) 0%,rgba(0, 0, 0, 0.2) 100%),  url(../img/grupo.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mosaicotrabajo {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 62%,rgba(255, 255, 255, 0.125) 100%),  url(../img/grupo.webp);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
.mosaicotrabajo:hover {
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20);   
}
.mosaicotrabajomovil {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0) 100%),  url(../img/grupo.webp);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20);  
}

/* derecha */
.instructores {
    background-image:   url(../img/instructores.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mosaicoinstructores {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, .125) 0%,rgba(255, 255, 255, 1) 40%),  url(../img/instructores-mosaico.webp);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}
.mosaicoinstructores:hover {
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20);   
}
.mosaicoinstructoresmovil {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0) 100%),  url(../img/instructores-mosaico.webp);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
}

/*izq*/

.solucion {
    background-image:  url(../img/solucion.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mosaicosolucion {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0.125) 100%),  url(../img/solucion-mosaico.webp);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
   /* transition: transform .2s;  Animation */
}
.mosaicosolucion:hover {
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
}
.mosaicosolucionmovil {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0) 100%),  url(../img/solucion-mosaico.webp);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
   /* transition: transform .2s;  Animation */
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
}

/*dere*/
.flujo {
    background-image:   url(../img/flujo.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mosaicoflujo {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, .125) 0%,rgba(255, 255, 255, 1) 40%),  url(../img/flujo-mosaico.webp);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}
.mosaicoflujo:hover {
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
}
.mosaicoflujomovil {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0) 100%),  url(../img/flujo-mosaico.webp);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20);
}

/*izq*/
.marketing {
    background-image:   url(../img/marketing.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mosaicomarketing {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0.125) 100%),  url(../img/marketing-mosaico.webp);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
.mosaicomarketing:hover {
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
}
.mosaicomarketingmovil {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0) 100%),  url(../img/marketing-mosaico.webp);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
}

/*derec*/
.proyeccion {
    background-image:   url(../img/proyeccion.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mosaicoproyeccion {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, .125) 0%,rgba(255, 255, 255, 1) 40%),  url(../img/proyeccion-mosaico.webp);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}
.mosaicoproyeccion:hover {
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
}
.mosaicoproyeccionmovil {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0) 100%),  url(../img/proyeccion-mosaico.webp);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
}

/*izq*/
.reuniones {
    background-image:   url(../img/reuniones.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mosaicoreuniones {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0.125) 100%),  url(../img/reuniones-mosaico.webp);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
.mosaicoreuniones:hover {
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
}
.mosaicoreunionesmovil {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0) 100%),  url(../img/reuniones-mosaico.webp);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
}

/*  derech */
.vision{
    background-image:   url(../img/vision-mosaico.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mosaicovision {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, .125) 0%,rgba(255, 255, 255, 1) 30%),  url(../img/vision-mosaico.webp);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}
.mosaicovision:hover {
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
}
.mosaicovisionmovil {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0) 100%),  url(../img/vision-mosaico.webp);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
}

/*izq*/
.simplicidad{
    background-image:   url(../img/05-1.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mosaicosimplicidad {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0.125) 100%),  url(../img/05-1.webp);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.mosaicosimplicidad:hover {
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
}
.mosaicosimplicidadmovil {
    background-image: radial-gradient(circle at left,rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0) 100%),  url(../img/05-1.webp);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow:  5px 5px 20px  rgba(0,0,0,0.20); 
}


.fullness{
    width: 50%;
}

.sombra{
    box-shadow: 10px 10px 15px rgba(0,0,0,0.30);
}
.sombra2{
    box-shadow: 10px 10px 15px rgba(0,0,0,0.30);
}
.amarillo{
    background-color: rgb(248, 212, 36) /*  #959396 */ ;
    height: 7px;
    width: 5%;
    left: 47%;
    position: relative;
}
.blanco{
    background-color: rgb(254, 254, 254) /*  #959396 */ ;
    height: 7px;
    width: 5%;
    left: 47%;
    position: relative;
}
.arriba{
    position: fixed;
    right: 22px;
    text-align: center;
    line-height: 50px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(180,180,180,.7);
    border-radius: 25px;
    color: #fff;
    vertical-align: middle;
    z-index: 999;
}
.appwhatsapp{
    position: fixed;
    right: 20px;
    bottom: 80px;
    width: 50px;
    height: 50px;
    z-index: 1000;
}
.appwhatsapp img{
    width: 50px;
    height: auto;
}

.aaa{
    width: 35%;
}
@media only screen and (min-width:300px) and (max-width:900px){
    .desaparece{
        display: none;
    }
    .redonda{
        display: none;
    }
    .textura{
        background-image: url(../img/movil.webp);
    }
    .texto{
        color:#fff;
    }
    .info{
        bottom: 0px;
    }
    .ancho{
        width: auto;
    }
    .amarillo{
        width: 15%;
        left: 41%;
    }
    .blanco{
        width: 15%;
        left: 41%;
    }
    
    .fullness{
        width: 20%;
    }
    .altura{
        height: auto;
    }
    .aaa{
        width: 70%;
    }
    .especial{
        width: 50%;
    }
}

@media only screen and (min-width:901px) and (max-width:3000px){
    .aparece{
        display: none;
    }
}

.prueba{
    display: flex;
    justify-content: space-between;
}
