
$font-weight-normal:500;
$headings-font-weight: 700;
$primary:#0d579f;
$success:#edf000;
$secondary:#959396;
$warning: #f2d644;
$info:#42a2b3;
$danger:#ee5b7a;
$font-family-sans-serif: 'Be Vietnam', sans-serif;


@import "../node_modules/bootstrap/scss/bootstrap";